/* You can add global styles to this file, and also import other style files */
:root {
  --primary: blue;
  --success: green;
  --error: red;
}


.color-primary {
  color: var(--primary);
}

.color-error {
  color: var(--error);
}

@for $i from 1 through 5 {
  .pr-#{$i} {
    padding-right: calc($i*.5rem);
  }
  .mt-#{$i} {
    margin-top: calc($i*.5rem);
  }
}
